.BGIMG01
  background-image: url("../assets/curso/tema1/img01.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center


.bloque-texto-d.color-secundario:before 
    background-color: #D7E4F2

.bloque-texto-d 
    border-top: 1px solid #FFFFFF
    position: relative



