.BGIMG01
  background-image: url("../assets/curso/tema3/img12.png")
  background-size: cover 
  background-repeat: no-repeat
  background-position: center
  border-top-left-radius: 40px


.bloque-texto-d.color-secundario:before 
    background-color: #D7E4F2

.bloque-texto-d 
    border-top: 1px solid #FFFFFF
    position: relative

.BG01
  background: linear-gradient(to bottom, #EBF6F3, #fff)

.BG02
  background: linear-gradient(to bottom, #EBF6F3, #EDF2E0)

.BG03
  background-color: #fff

.BG04
  background-color: #FBFBFB
  border-radius: 10px

.BG05
  background-color: #F5F5F7

.BG06
  background-color: #E7EDF9

.BG07
  background: linear-gradient(to bottom, #E7EDF9, #FFFFFF)
  border-radius: 10px

.BG08
  background: linear-gradient(to left, #FAFFF2, #FFFFFF)

.BG09
  background-color: #E7EDF9
  border-radius: 10px

.fa-quote-right:before, .fa-quote-left:before
  font-size: 2.5em
  color: #80cab6

.bloque-texto-d i
  font-size: 1em

.tabla-a.color-acento-botones thead
  border-color: #9EB7E5

.slyder-a__bullets__item--active
  background-color: #80CAB6
  border-color: #80CAB6
  

.slyder-a__bullets__item
  background-color: #D0EAE3

.tarjeta-numerada__numero
  top: 40%
  width: 50px
  height: 50px

.tarjeta-numerada
  background-color: #E9EEFA

.tarjeta-numerada.color-acento-botones
  border: 5px solid #E9EEFA

.bloque-texto-g.color-primario
  background-color: #8AA6DD

.acordion__accion__btn--b
  background-color: #80CAB6
  border: 1px solid #80CAB6

.tarjeta--azul
  background-color: #E4EAF7

.tabs-a__tab
  padding: 15px 15px

.cajon.color-secundario
  background-color: #EAF0DA

.img01
  position: relative
  margin-top: -55px
  right: 20px
  max-width: 200% !important
  width: 170%